body {
    background-color: #EFF6EE;
    font-family: 'ZCOOL XiaoWei', serif;
}

header {
    background-color: #40798C;
}

h1, h2 {
    color: black;
    background-color: #70A9A1;
    font-family: 'Redressed', cursive;
    text-decoration: underline;
}

nav > ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 15px;
}

section {
    background-color: #CFD7C7;
    width: 75%;
    font-size: 1.0em;
}

footer {
    background-color: #F6F1D1;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 1.0em;
    text-bottom
}